* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: lightgrey;
}
main {
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}
.container-texto {
    margin-top: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen {
    width: 50%;
    height: 100vh;
    position:fixed;
    top:60px;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-imagen {
    border-radius: 50%;
    background-image: url(fotoinicio.jpg);
    background-size: cover;
    z-index: 1;
    width: 50%;
    height: 50%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 0;
}

.lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #091a28;
}


  
 
.imagen-contenedor {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.imagen-personal {
    width: 306px;
    height: 420px;
    object-fit: cover;
    box-shadow: #000;
    position: static;
}
.seccion-educacion {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.seccion-experiencia {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.titulo-educacion {
    text-align: center;
}

.educacion {
    display: flex;
    justify-content: space-between;
    
}

.experiencia-container{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}
.habilidades-container img {
    width: 64px;
    height: 64px;
}
.habilidades-container {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}
.seccion-habilidades {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.datospersonales-container {
    gap: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.seccion-datospersonales {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;



}